<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         verbose="true">
  <testsuites>
    <testsuite name="Blob Test">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <junit outputFile="build/logs/junit.xml"/>
    <text outputFile="build/logs/logfile.txt"/>
  </logging>
</phpunit>